@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Merriweather", serif;
	background-color: #eeecea;
	position: relative;
}

button[aria-selected="true"] {
	color: #6a2e0a;
	border-color: #6a2e0a;
}
